$white: #FFFFFF;
$black:#000000;
$rich_black: #020202;
$eerie_black: #1f1f1f;

$spanish_purple: #000000;
$spanish_purple_64: rgba(0, 0, 0, 0.9);
$dark_jungle_green: #0E252A;
$gunmetal: #223A3F;
$dark_jungle_green_2: #102729;

$desaturated_cyan: #73969d;
$faded_blue: #56aeba;

$golden: #C49055;

$light_silver: #d8d8d8;
$gray: #979797;

